/* Setting below will reset by default margins of h or p elements etc. */
/* *{
    margin:0;
    padding: 0;
} */

/*Remember: Default body styling implemented in whole application */
body{
    background-color: #f4f4f4;
    color:#555555;

    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;

    /* same as above */
    font: normal 16px Arial,Helvetica,sans-serif;

     line-height: 1.6em;/* 1.6em of the defined fontsize 16px; */
    margin:0;    
}

/* Main container */
.container{
    width:80%;
    margin:auto;

}
/* After 2 horizontal divs of 33%+33% space is left 33%
PLacing any other div will be next to divs and not in next line
To solve issue and place div in next line clear both sides*/
.clr{
    clear: both;
}

/* button and anchor hover and css */
.button{
    background-color: #333;
    color:#fff;
    padding:10px 15px;
    border:none;
}


.button:hover{
    background-color: red;
}
a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color:red;
}
a:active{
    color:green;
}

a:visited{
    color :black;
}

/* container alignment */
.box-1 {
    background-color: #333;
    color:#fff;
    padding:20px;
    margin: 20px 0;
    border: 3px solid red;
}

.box-1 h1{
    text-decoration: underline;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.box-2{
    border:3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

/* List Alignment */
.categories{
    border:1px #ccc solid;
    border-radius: 15px;
    padding:10px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style:none;
    padding-left: 20px;
}

.categories li{
    padding-bottom: 6px;
    border-bottom:dotted 1px #333;
    list-style-image:url('/images/check.png');
}

/* form Alignment */
.my-form{
    padding:20px ;
}

.my-form .form-group{
    padding-bottom: 10px;
}

.my-form label{
        display: block;
}

.my-form input[type="text"],.my-form textarea{
    width: 100%;    
    padding: 8px;
}

/* 3 horizontal blocks Alignment */
.block{
    float:left;
    width: 33.3%;
    border:1px solid #ccc;
    padding:10px;
    /* Important: While aligninh 3 boxes horizontally by giving equal width but padding and border has distorted and aligned in 2 rows;
    To solve issue add box-sizing which will reduce padding and border and then decide width of content; */
    box-sizing: border-box;
}

/* Main & Side block Alignment */

#main-block{
    float:left;
    width:70%;
    padding:15px;
    box-sizing: border-box;
}
#sidebar{
    float:left;
    width:30%;
    background-color: #333;
    color:#fff;
    padding:15px;
    box-sizing: border-box;
}

.p-box{
    widows: 800px;
    height: 500px;
    border:1px solid #000;
    margin-top:30px;
    position: relative;
}
.p-box h1{
    position: absolute;
    top:40px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom:40px;
    right: 200px;
}

.fix-me{
    position: fixed;
    top:400px;
}
.my-list li:nth-child(even) {
    background:orange;
}

.my-list li:first-child {
    background:blue;
}

.my-list li:last-child {
    background:red;
}

.my-list li:nth-child(5) {
    background:yellow;
}



